################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Test/bin
/Test/obj/Debug
/Test/obj/Release
